@import '~app/shared/scss-global-style/styles';
@import '~app/shared/scss-global-style/flex';

.edit-container{
  max-width: 900px; 
  h1{
    text-align: center;
    margin-bottom: 35px;
  }
  form {
    background-color: white;
    border: 1px solid rgb(247, 246, 246);
    box-shadow: 0px 0px 5px rgba(202, 198, 198, 0.5);
    padding: 30px;
    border-radius: 10px;
    max-width: 500px;
    @extend .marginCenter;

    .buttonsForm{
      @extend .flex;
      @extend .flexCenter;
      @extend .flexDirectionRow;
      justify-content: space-around;
      button{
        @extend .button;
        margin-top: 15px;
      }
    }

    >div {
      @extend .marginCenter;
      width: 100%;
      margin: 32px 0;
      input {
        font-size: 14px;
        font-weight: 500;
        display: block;
        width: 100%;
        padding: 10px 15px;
        border-radius: 7px;
        border: 1px solid #af0075;
        box-shadow: 0px 0px 5px rgba(202, 198, 198, 0.5);
        .ng-invalid.ng-touched{
          box-shadow: 0px 0px 5px red;
          background-color: rgba(197, 0, 0, 0.521);
        }
      }
      label {
        display: block;
        width: 100%;
        margin-bottom: 10px;
      }
      select {
        font-size: 14px;
        font-weight: 500;
        padding: 7px 10px;
        border-radius: 6px;
        border: 1px solid #af0075;
        box-shadow: 0px 0px 5px rgba(202, 198, 198, 0.5);
      }

    }
  }
}